.travel-date {
    margin-top: -41px;
    margin-bottom: 10px;
}

.mapboxgl-marker {
    cursor: pointer;
}

.travel-title {
    margin-bottom: 4px;
}

.small-form {
    max-width: 125px !important;
}

.travel-inline-form {
    justify-content: space-between;
}

.trip-name {
    font-size: 14px;
    padding: 3px 0.75rem;
}

.trip-name {
    cursor: pointer;
}

.trip-name:hover {
    /* TODO: work on this color */
    background-color: #4747ff;
    color: white;
    font-weight: bold;
}

.trip-sep {
    margin-right: -20px !important;
    margin-left: -20px !important;
    margin-top: 1px;
    margin-bottom: 1px;
}

#all-trips .card-body {
    padding: 0;
}

#right-menu {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 204px;
}

#right-menu div {
    border-radius: 0 !important;
}

.right-button {
    border: none;
    cursor: pointer;
    background-color: white;
    text-align: center;
    padding: 8px 11px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.right-button:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75);
}

.right-button:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
}

.galleria {
    height: 200px;
}

.thumbnail {
    width:100px;
    height: 100%;
    margin-right: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.modal {
    z-index: 1030;
}

.modal-backdrop {
    z-index: 1020;
}