#add-trip {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 8px 11px;
    font-size: 17px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

#add-trip:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75);
}

#add-trip:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
}

.galleria {
    height: 200px;
}

.description {
    padding: 10px;
}

#popup {
    position: relative;
    width: 80%;
    margin: 30px auto;
    min-height: 100px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    display: none;
    z-index: 1000;
}

#black-cover {
    opacity: 0.6;
    background-color: black;
    display: none;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}