{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>Наши путешествия</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/js/lightgallery-all.min.js" integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/css/lightgallery.min.css" integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/css/lg-transitions.min.css" integrity="sha256-0vtvedekqwImzpY0zJYKRDDEiEWSGclW01CGiznyB4M=" crossorigin="anonymous">

    <link rel='stylesheet' href="{% static 'map/styles/main.css' %}" type='text/css' />
  </head>
  <body>
    <div id="map" style='width: 100%; height: 100%; position: fixed; top: 0; left: 0;'></div>
    <div id="popup"></div>
    <div id="black-cover" style='width: 100%; height: 100%; position: fixed; top: 0; left: 0;'></div>

    <div id="add-trip" unselectable="on" onselectstart="return false;">
        Добавить путешествие
    </div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaWdpdG1hbiIsImEiOiJjazBzNXpkNTYwY29jM25ueGttZXN4eXd6In0.GnYQMVcS3wJq8ZSx9maygQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11',
            zoom: 1,
            // maxZoom
        });

        var data = {
            type: 'FeatureCollection',
            features: [
                {% for record in records %}
                {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [
                            {% language 'en'%}{{ record.lon }}{% endlanguage %},
                            {% language 'en'%}{{ record.lat }}{% endlanguage %},
                        ]
                    },
                    properties: {
                        title: 'Mapbox',
                        description: '{{ record.desc }}',
                        photos: [
                            {% for img in record.travel_images.all %}
                            "{{ img.photo.url }}",
                            {% endfor %}
                        ],
                    }
                },
                {% endfor %}
            ]
        };
        var cover = $("#black-cover");
        var popup = $("#popup");
        const duration = 300;

        cover.click(function() {
            cover.fadeOut(duration, function() {
                cover.hide();
            });
            popup.fadeOut(duration, function() {
                popup.hide();
            });
        });

        data.features.forEach(function(marker) {
            var el = document.createElement('div');
            el.className = 'marker';

            new mapboxgl.Marker(el).setLngLat(marker.geometry.coordinates).addTo(map);
            el.addEventListener('click', () => {
                cover.fadeIn(duration);
                popup.fadeIn(duration);
                var inner_html = '<div class="description">';
                inner_html += marker.properties.description;
                inner_html += '</div>';
                if (marker.properties.photos.length > 0) {
                    inner_html += '<div id="photo-gallery">';
                    for (var i = 0; i < marker.properties.photos.length; i++) {
                        inner_html += '<a href="' + marker.properties.photos[i] + '">';
                        inner_html += '<img style="width:100px; height: 100%; '
                        inner_html += 'margin-right: 5px" src="' + marker.properties.photos[i] + '"/>';
                        inner_html += '</a>';
                    }
                    // TODO: maybe add justifiedGallery???
                    inner_html += '</div>';
                }
                popup.html(inner_html);
                if (marker.properties.photos.length > 0) {
                    $('#photo-gallery').lightGallery({
                        thumbnail: true,
                    });
                }
            });
        });
     /*   map.on('click', (e) => {
            if (!e.originalEvent.ctrlKey) {
                return;
            }

            var coords = `lat: ${e.lngLat.lat} <br> lng: ${e.lngLat.lng}`;
            console.log(coords);
            // create the popup
            var popup = new mapboxgl.Popup().setText(coords);

            // create DOM element for the marker
            var el = document.createElement('div');
            el.className = 'marker';

            // create the marker
            new mapboxgl.Marker(el)
                .setLngLat(e.lngLat)
                .setPopup(popup)
                .addTo(map);
        });*/

        var geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            marker: {
                color: 'orange'
            },
            mapboxgl: mapboxgl
        });
        map.addControl(geocoder, 'top-left');

        map.on('load', function() {
            geocoder.on('result', function(ev) {
                var request_info = ev.result;
                console.log(request_info);
                console.log(request_info.place_name);
                console.log(request_info.center[0], request_info.center[1]);
            });
        });

    </script>
    <style>
        .marker {
            background-image: url({% static 'map/images/marker.png' %});
            background-size: cover;
            width: 20px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }


    </style>
  </body>
</html>