{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>Наши путешествия</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/js/lightgallery-all.min.js" integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/css/lightgallery.min.css" integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/css/lg-transitions.min.css" integrity="sha256-0vtvedekqwImzpY0zJYKRDDEiEWSGclW01CGiznyB4M=" crossorigin="anonymous">

    <link rel='stylesheet' href="{% static 'map/styles/main.css' %}" type='text/css' />
  </head>
  <body>
    <div id="map" style='width: 100%; height: 100%; position: fixed; top: 0; left: 0;'></div>
    {% comment %} <div id="popup"></div>
    <div id="black-cover" style='width: 100%; height: 100%; position: fixed; top: 0; left: 0;'></div> {% endcomment %}

    {% comment %} <!-- Button trigger modal -->
    <button style="position: fixed;" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button> {% endcomment %}

    <!-- Modal -->
    <div class="modal fade" id="travel-record" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="travel-record-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <div id="add-trip" unselectable="on" onselectstart="return false;">
        Добавить путешествие
    </div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaWdpdG1hbiIsImEiOiJjazBzNXpkNTYwY29jM25ueGttZXN4eXd6In0.GnYQMVcS3wJq8ZSx9maygQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11',
            zoom: 1,
            // maxZoom
        });

        var data = {
            type: 'FeatureCollection',
            features: [
                {% for record in records %}
                {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [
                            {% language 'en'%}{{ record.lon }}{% endlanguage %},
                            {% language 'en'%}{{ record.lat }}{% endlanguage %},
                        ]
                    },
                    properties: {
                        place_name: '{{ record.place_name }}',
                        start_date: '{{ record.start_date }}',
                        end_date: '{{ record.end_date }}',
                        description: '{{ record.desc }}',
                        photos: [
                            {% for img in record.travel_images.all %}
                            "{{ img.photo.url }}",
                            {% endfor %}
                        ],
                    }
                },
                {% endfor %}
            ]
        };

        data.features.forEach(function(marker) {
            var el = document.createElement('div');
            el.className = 'marker';

            new mapboxgl.Marker(el).setLngLat(marker.geometry.coordinates).addTo(map);
            el.addEventListener('click', () => {
                $('#travel-record').modal('show');
                r = marker.properties;
                var inner_html = `
                <div class="modal-header">
                    <h5 class="modal-title travel-title">${r.place_name}</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-info travel-date">с ${r.start_date} по ${r.end_date}</div>
                    <div style="font-weight: bold;">Что мы помним? :)</div>
                    <div class="ml-4 mb-1">${r.description}</div>
                    <div class="mb-1" style="font-weight: bold;">Наши фотографии:</div>
                `;
                if (marker.properties.photos.length > 0) {
                    inner_html += '<div class="ml-4" id="photo-gallery">';
                    for (var i = 0; i < marker.properties.photos.length; i++) {
                        inner_html += `
                        <a href="${r.photos[i]}">
                            <img class="thumbnail" src="${r.photos[i]}"/>
                        </a>`;
                    }
                    // TODO: maybe add justifiedGallery???
                    inner_html += '</div>';
                } else {
                    inner_html += `<div class="ml-4">
                        А их нет, нам было слишком весело, чтобы фотографироваться ;)
                    </div>`;
                }
                inner_html += '</div>';
                $("#travel-record-body").html(inner_html);
                if (marker.properties.photos.length > 0) {
                    $('#photo-gallery').lightGallery({
                        thumbnail: true,
                    });
                }
            });
        });
     /*   map.on('click', (e) => {
            if (!e.originalEvent.ctrlKey) {
                return;
            }

            var coords = `lat: ${e.lngLat.lat} <br> lng: ${e.lngLat.lng}`;
            console.log(coords);
            // create the popup
            var popup = new mapboxgl.Popup().setText(coords);

            // create DOM element for the marker
            var el = document.createElement('div');
            el.className = 'marker';

            // create the marker
            new mapboxgl.Marker(el)
                .setLngLat(e.lngLat)
                .setPopup(popup)
                .addTo(map);
        });*/

        var geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            marker: {
                color: 'orange'
            },
            mapboxgl: mapboxgl
        });
        map.addControl(geocoder, 'top-left');

        map.on('load', function() {
            geocoder.on('result', function(ev) {
                var request_info = ev.result;
                console.log(request_info);
                console.log(request_info.place_name);
                console.log(request_info.center[0], request_info.center[1]);
            });
        });

    </script>
    <style>
        .marker {
            background-image: url({% static 'map/images/marker.png' %});
            background-size: cover;
            width: 20px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }


    </style>
  </body>
</html>