{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Наши путешествия</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <div id='map' style='width: 100%; height: 100%; position: fixed; top: 0; left: 0;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaWdpdG1hbiIsImEiOiJjazBzNXpkNTYwY29jM25ueGttZXN4eXd6In0.GnYQMVcS3wJq8ZSx9maygQ';
    var map = new mapboxgl.Map({
        container: 'map',
        // style: 'mapbox://styles/mapbox/streets-v11'
        style: 'mapbox://styles/mapbox/satellite-streets-v11',
        zoom: 1,
        // maxZoom
    });

    var geojson = {
      type: 'FeatureCollection',
      features: [{
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-77.032, 38.913]
        },
        properties: {
          title: 'Mapbox',
          description: 'Washington, D.C.',
          photo: '',
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-122.414, 37.776]
        },
        properties: {
          title: 'Mapbox',
          description: 'San Francisco, California',
          photo: 'images/photo.jpg',
        }
      }]
    };

    geojson.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML(
            '<h3>' + marker.properties.title + '</h3>' + 
            '<p>' + marker.properties.description + '</p>' + 
            '<img width=100 height=100 src="' + marker.properties.photo + '">'
          )
        )
        .addTo(map);
    });
    </script>
    <style>
      .marker {
        background-image: url({% static 'map/images/marker.png' %});
        background-size: cover;
        width: 20px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
      }

      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }

    </style>
  </body>
</html>
